body{
  margin: 0;
  padding: 0;
}

.header{
  color: white;
  text-align: center;
  background-image:url(./public/assets/iteration-1/home-banner.png) ;
  width: 1920px;
  height: 1080px;
  gap: 10px;
}
.head{
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-start;
   margin-top: 40px;
   padding: 50px;
   font-family: "Roboto Condensed" , sans-serif;
   font-size: 4rem;
}

.head-text{
  color:#FDC913;
  font-family: "Satisfy" , cursive;
  padding: 0;
  margin: 0;
  
}
.wrapped-text{
  padding: 0;
  margin-bottom: 20px;
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-size: 3rem;
}
.button{
  text-decoration: none;
  border-radius: 15px;
  background-color: #FDC913;
  padding: 10px 40px;
  margin: 0;
}
.categories{
  display: flex;
  justify-content: space-between;
  width: 1,920px;
  height: 94px;
  top: 1080px;
  padding: 26px 426px;
  text-align: center;
  flex-wrap: wrap;
}
.category-items{
    display: flex;
    align-items: center;
    gap: 10px; 
    padding: 5px 5px; 
    margin: 8px 0;
}
.special-menu{
  width: 1,072px;
  height: 449px;
  top: 1242px;
  left: 424px;
  gap: 11px;
  display: flex;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.special-head {
  flex: 1 1 100%; /* Başlık genişliği tam olur */
  text-align: left;
  color: white;
  background-image: url(./public/assets/iteration-2/cta/kart-1.png);
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hafif gölge */
}
